services:
  mysql-db:
    image: mysql:9.5.0-oraclelinux9
    container_name: wallet-mysql
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      MYSQL_USER: ${MYSQL_USER}
      MYSQL_PASSWORD: ${MYSQL_PASSWORD}
      MYSQL_DATABASE: ${MYSQL_DATABASE}
    volumes:
      - mysql_data:/var/lib/mysql
    ports:
      - "3306:3306"
    networks:
      - wallet-net

volumes:
  mysql_data:

networks:
  wallet-net:
    driver: bridge
